In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)

In [3]:
df_2020 = pd.read_csv('../../dobrano_2020_pre_preprocessado.csv', sep=';', low_memory=False, encoding='latin1')
df_2020.shape

(454432, 17)

In [4]:
df_2020.head()

,idade,sexo,raca_cor,escolaridade,local_ocorrencia,teve_assistencia_medica,dia_nasc,mes_nasc,ano_nasc,dia_obito,mes_obito,ano_obito,estado,grupo_causa_basica,causa_basica,ocupacao,grupo_ocupacao
0,68.0,M,BRANCA,EF_I,DOMICILIO,NAO,10,5.0,1951.0,25,1,2020,MG,Causas mal definidas e desconhecidas de mortal...,Outras causas mal definidas e as não especific...,NaN,TRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUT...
1,53.0,M,PRETA,EF_I,DOMICILIO,NAO,16,3.0,1966.0,25,1,2020,MG,Causas mal definidas e desconhecidas de mortal...,Outras causas mal definidas e as não especific...,Trabalhador agropecuário em geral,"TRABALHADORES AGROPECUÁRIOS, FLORESTAIS E DA P..."
2,82.0,F,BRANCA,EF_I,HOSPITAL,NaN,10,7.0,1937.0,14,1,2020,MG,Outras doenças dos intestinos,"Doença diverticular do intestino, de localizaç...",NaN,TRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUT...
3,73.0,F,BRANCA,EF_I,HOSPITAL,SIM,2,11.0,1946.0,20,1,2020,MG,Outras doenças do aparelho respiratório,Insuficiência respiratória aguda,NaN,TRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUT...
4,60.0,M,BRANCA,SUPERIOR_C,HOSPITAL,SIM,12,9.0,1959.0,26,1,2020,MG,Outras doenças bacterianas,Septicemia não especificada,Professor da educação de jovens e adultos do ...,PROFISSIONAIS DAS CIÊNCIAS E DAS ARTES ...

#### TRANSFORMANDO DADOS EM NUMÉRICOS

In [5]:
df_2020['raca_cor'] = df_2020['raca_cor'].replace(['BRANCA', 'PRETA', 'AMARELA', 'PARDA', 'INDIGENA'], [1, 2, 3, 4, 5])

In [6]:
df_2020['escolaridade'] = df_2020['escolaridade'].replace(
                                          ['SEM', 'EF_I', 'EF_II', 'EM', 'SUPERIOR_I', 'SUPERIOR_C', 'I'],
                                        [0, 1, 2, 3, 4, 5, 9]
                                         )

In [7]:
df_2020['local_ocorrencia'] = df_2020['local_ocorrencia'].replace(['HOSPITAL', 'OES', 'DOMICILIO', 'VIAP', 'OUTROS', 'I'],
                                            [1, 2, 3, 4, 5, 9]
                                         )

In [8]:
df_2020['teve_assistencia_medica'] = df_2020['teve_assistencia_medica'].replace(['SIM', 'NAO', 'I'], [1, 2, 9]
                                             )

In [9]:
df_2020['sexo'] = df_2020['sexo'].replace(['M', 'F', 'I'], [1, 2, 0])

##### REORGANIZANDO DESCRIÇÕES DOS GRUPOS DOS CIDS E DAS OCUPAÇÕES

In [10]:
df_cid_grupos = pd.read_csv('../../CID-10-GRUPOS.csv', header=0, sep=';', encoding='latin1')
# df_cid_grupos.head()

df_cid_grupos = df_cid_grupos.drop(columns=['Unnamed: 0'])

In [11]:
df_cid_grupos.head()

,CATINIC,CATFIM,DESCRICAO,DESCRABREV
0,A00,A09,Doenças infecciosas intestinais,Doenças infecciosas intestinais
1,A15,A19,Tuberculose,Tuberculose
2,A20,A28,Algumas doenças bacterianas zoonóticas,Algumas doenças bacterianas zoonóticas
3,A30,A49,Outras doenças bacterianas,Outras doenças bacterianas
4,A50,A64,Infecções de transmissão predominantemente sexual,Infecções de transmissão predominantemente sexual

In [12]:
cid_grupos = [i for i in range(df_cid_grupos.shape[0])]

In [13]:
df_cid_grupos['VALOR'] = cid_grupos

In [25]:
df_ocup_grupo = pd.read_csv('../../Downloads/CBO2002_Grande_Grupo.csv', header=0, sep=';', encoding='latin1')

In [26]:
df_ocup_grupo.head()

   CODIGO                                             TITULO
0       0  MEMBROS DAS FORÇAS ARMADAS, POLICIAIS E BOMBEI...
1       1  MEMBROS SUPERIORES DO PODER PÚBLICO, DIRIGENTE...
2       2  PROFISSIONAIS DAS CIÊNCIAS E DAS ARTES        ...
3       3  TÉCNICOS DE NIVEL MÉDIO                       ...
4       4  TRABALHADORES DE SERVIÇOS ADMINISTRATIVOS     ...

In [27]:
df_ocup_grupo.append({'TITULO': 'SEM OCUPAÇÃO', 'CODIGO': str(df_ocup_grupo.shape[0])}, ignore_index=True)

   CODIGO                                             TITULO
0       0  MEMBROS DAS FORÇAS ARMADAS, POLICIAIS E BOMBEI...
1       1  MEMBROS SUPERIORES DO PODER PÚBLICO, DIRIGENTE...
2       2  PROFISSIONAIS DAS CIÊNCIAS E DAS ARTES        ...
3       3  TÉCNICOS DE NIVEL MÉDIO                       ...
4       4  TRABALHADORES DE SERVIÇOS ADMINISTRATIVOS     ...
5       5  TRABALHADORES DOS SERVIÇOS, VENDEDORES DO COMÉ...
6       6  TRABALHADORES AGROPECUÁRIOS, FLORESTAIS E DA P...
7       7  TRABALHADORES DA PRODUÇÃO DE BENS E SERVIÇOS I...
8       8  TRABALHADORES DA PRODUÇÃO DE BENS E SERVIÇOS I...
9       9  TRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUT...
10     10                                       SEM OCUPAÇÃO

In [28]:
ocup_grupos = [i for i in range(df_ocup_grupo.shape[0])]
# ocup_grupos.append(len(ocup_grupos) + 1)

In [29]:
df_ocup_grupo['VALOR'] = ocup_grupos

In [30]:
def group_ocup(row, grupo):
    grupo.loc[(grupo.grupo_ocupacao == row.TITULO),
             ['grupo_ocupacao']] = row.VALOR

In [31]:
df_ocup_grupo.apply(group_ocup, grupo=df_2020, axis='columns')

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object

In [32]:
def categoria_cid(row, cids):
    cids.loc[(cids.grupo_causa_basica == row.DESCRICAO),
             ['grupo_causa_basica']] = row.VALOR

In [33]:
df_cid_grupos.apply(categoria_cid, cids=df_2020, axis='columns')

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
30     None
31     None
32     None
33     None
34     None
35     None
36     None
37     None
38     None
39     None
40     None
41     None
42     None
43     None
44     None
45     None
46     None
47     None
48     None
49     None
50     None
51     None
52     None
53     None
54     None
55     None
56     None
57     None
58     None
59     None
60     None
61     None
62     None
63     None
64     None
65     None
66     None
67     None
68     None
69     None
70     None
71     None
72     None
73     None
74     None
75     None
76     None
77     None
78     None
79     None
80     None
81     None
82     None
83     None
84     None
85     None
86     None
87     None
88     None
89     None
90     None
91     None
92     None
93     None
94     None
95     None
96     None
97     None
98     None
99     None
100    None
101    None
102    None
103    None
104    None
105    None
106    None
107    None
108    None
109    None
110    None
111    None
112    None
113    None
114    None
115    None
116    None
117    None
118    None
119    None
120    None
121    None
122    None
123    None
124    None
125    None
126    None
127    None
128    None
129    None
130    None
131    None
132    None
133    None
134    None
135    None
136    None
137    None
138    None
139    None
140    None
141    None
142    None
143    None
144    None
145    None
146    None
147    None
148    None
149    None
150    None
151    None
152    None
153    None
154    None
155    None
156    None
157    None
158    None
159    None
160    None
161    None
162    None
163    None
164    None
165    None
166    None
167    None
168    None
169    None
170    None
171    None
172    None
173    None
174    None
175    None
176    None
177    None
178    None
179    None
180    None
181    None
182    None
183    None
184    None
185    None
186    None
187    None
188    None
189    None
190    None
191    None
192    None
193    None
194    None
195    None
196    None
197    None
198    None
199    None
200    None
201    None
202    None
203    None
204    None
205    None
206    None
207    None
208    None
209    None
210    None
211    None
212    None
213    None
214    None
215    None
216    None
217    None
218    None
219    None
220    None
221    None
222    None
223    None
224    None
225    None
226    None
227    None
228    None
229    None
230    None
231    None
232    None
233    None
234    None
235    None
236    None
237    None
238    None
239    None
240    None
241    None
242    None
243    None
244    None
245    None
246    None
247    None
248    None
249    None
250    None
251    None
252    None
253    None
254    None
255    None
256    None
257    None
258    None
259    None
260    None
261    None
262    None
263    None
264    None
265    None
266    None
267    None
268    None
269    None
270    None
271    None
272    None
273    None
274    None
dtype: object

In [34]:
df_2020.head()

,idade,sexo,raca_cor,escolaridade,local_ocorrencia,teve_assistencia_medica,dia_nasc,mes_nasc,ano_nasc,dia_obito,mes_obito,ano_obito,estado,grupo_causa_basica,causa_basica,ocupacao,grupo_ocupacao
0,68.0,1,1.0,1.0,3,2.0,10,5.0,1951.0,25,1,2020,MG,201,Outras causas mal definidas e as não especific...,NaN,9
1,53.0,1,2.0,1.0,3,2.0,16,3.0,1966.0,25,1,2020,MG,201,Outras causas mal definidas e as não especific...,Trabalhador agropecuário em geral,6
2,82.0,2,1.0,1.0,1,NaN,10,7.0,1937.0,14,1,2020,MG,117,"Doença diverticular do intestino, de localizaç...",NaN,9
3,73.0,2,1.0,1.0,1,1.0,2,11.0,1946.0,20,1,2020,MG,111,Insuficiência respiratória aguda,NaN,9
4,60.0,1,1.0,5.0,1,1.0,12,9.0,1959.0,26,1,2020,MG,3,Septicemia não especificada,Professor da educação de jovens e adultos do ...,2

#### ATRIBUINDO CÓDIGO DOS ESTADOS AS SUAS RESPECTIVAS UFs

In [35]:
data_estados = pd.read_csv('../../Downloads/estados_ibge.csv', sep=';', header=0, encoding='latin1')

In [36]:
data_estados.head()

   CODIGO  UF    ESTADO
0      12  AC      Acre
1      27  AL   Alagoas
2      13  AM  Amazonas
3      16  AP     Amap
4      29  BA     Bahia

In [37]:
uf = pd.Series(data_estados['UF'].astype('str'))
uf = uf.values

In [38]:
df_2020['estado'] = df_2020['estado'].replace(data_estados['UF'].values, data_estados['CODIGO'].values)

In [39]:
df_2020.head()

,idade,sexo,raca_cor,escolaridade,local_ocorrencia,teve_assistencia_medica,dia_nasc,mes_nasc,ano_nasc,dia_obito,mes_obito,ano_obito,estado,grupo_causa_basica,causa_basica,ocupacao,grupo_ocupacao
0,68.0,1,1.0,1.0,3,2.0,10,5.0,1951.0,25,1,2020,31,201,Outras causas mal definidas e as não especific...,NaN,9
1,53.0,1,2.0,1.0,3,2.0,16,3.0,1966.0,25,1,2020,31,201,Outras causas mal definidas e as não especific...,Trabalhador agropecuário em geral,6
2,82.0,2,1.0,1.0,1,NaN,10,7.0,1937.0,14,1,2020,31,117,"Doença diverticular do intestino, de localizaç...",NaN,9
3,73.0,2,1.0,1.0,1,1.0,2,11.0,1946.0,20,1,2020,31,111,Insuficiência respiratória aguda,NaN,9
4,60.0,1,1.0,5.0,1,1.0,12,9.0,1959.0,26,1,2020,31,3,Septicemia não especificada,Professor da educação de jovens e adultos do ...,2

In [40]:
df_2020 = df_2020.drop(columns=['causa_basica', 'ocupacao'])

#### SEPRANDO DATASETS

In [41]:
df_2020 = df_2020[:100]

In [42]:
df_2020 = df_2020.loc[df_2020['grupo_causa_basica'].notnull()]

In [61]:
df_2020.isnull().sum()

idade                      0
sexo                       0
raca_cor                   0
escolaridade               0
local_ocorrencia           0
teve_assistencia_medica    0
dia_nasc                   0
mes_nasc                   0
ano_nasc                   0
dia_obito                  0
mes_obito                  0
ano_obito                  0
estado                     0
grupo_causa_basica         0
grupo_ocupacao             5
dtype: int64

In [44]:
df_2020 = df_2020.loc[df_2020.teve_assistencia_medica.notnull()]

In [45]:
df_2020 = df_2020.loc[df_2020.raca_cor.notnull()]

In [46]:
df_2020 = df_2020.loc[df_2020.escolaridade.notnull()]

In [47]:
df_2020 = df_2020.loc[df_2020.mes_nasc.notnull()]

In [48]:
df_2020 = df_2020.loc[df_2020.ano_nasc.notnull()]

In [62]:
df_2020 = df_2020.loc[df_2020.grupo_ocupacao.notnull()]

In [49]:
df_2020['grupo_causa_basica'] = df_2020['grupo_causa_basica'].astype('float')

In [50]:
df_2020['grupo_ocupacao'] = df_2020['grupo_ocupacao'].astype('float')

In [51]:
df_2020['grupo_ocupacao'].fillna(df_ocup_grupo.shape[0]-1)

0     9.0
1     6.0
3     9.0
4     2.0
5     7.0
7     9.0
8     9.0
11    9.0
15    9.0
16    6.0
17    9.0
18    6.0
19    9.0
20    6.0
22    9.0
30    9.0
31    9.0
32    9.0
33    9.0
35    9.0
44    7.0
45    9.0
46    9.0
47    9.0
49    9.0
50    6.0
51    6.0
60    9.0
62    9.0
64    9.0
67    6.0
69    6.0
71    9.0
76    9.0
78    2.0
81    7.0
92    9.0
95    7.0
96    7.0
97    5.0
98    9.0
99    5.0
Name: grupo_ocupacao, dtype: float64

In [63]:
y = df_2020['grupo_causa_basica']

In [64]:
type(y)

pandas.core.series.Series

In [65]:
x = df_2020.drop(columns=['grupo_causa_basica'])

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [67]:
x_train.shape

(27, 14)

In [68]:
y_test.shape

(10,)

In [69]:
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)

In [70]:
rf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=1000, random_state=42)